[Unit]
Description=Start/Stop the SLURMDBD service.
After=mysqld.service
Before=slurmctld.service
Requires=mariadb.service

[Service]
Type=forking
ExecStart=/usr/sbin/slurmdbd
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/var/run/slurmdbd.pid

[Install]
WantedBy=multi-user.target